h1 {
  text-align: center;
  margin-top: 30px;
}

body {
  background: #FFCC33;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 400px;
  margin: 8px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: relative; /* score表示領域をcontainerに対して絶対配置したいから */
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices > li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

#choices > li.correct::after {
  content: ' ... 正解！';
}

#choices > li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

#choices > li.wrong::after { /* after */
  content: ' ... 残念！';
}

#btn, #result > a {
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px #2880b9;
  position: relative;
}

#btn.disabled {
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#btn:active, #result > a:active {
  top:4px;
  box-shadow: none;
}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  right: 0;
  /* CSSには、絶対配置しているときに、left、right、widthのすべてがautoでなかった場合、margin-leftとmargin-rightをautoにすると左右のmarginを同じものにし、中央揃えにすると言う仕様がある */
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result.hidden {
  transform: translateY(-500px); /* 上方向に500pxずらして配置 */
}

#result > p {
  font-size: 24px;
}

#result > a {
  display: block; /* 親要素いっぱいに広げるがpaddingの分だけ左右に余白ができる */
  text-decoration: none; /* 下線なくす */
}
